@model IEnumerable<Cliquemix.Models.tbDestaque>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Destaque
                <small> Lista</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs.cshtml")
        </div>
        <p>
            @Html.ActionLink("Novo Destaque", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Título")
                </th>
                <th>
                    @Html.DisplayName("Qtde de Créditos")
                </th>
                <th>
                    @Html.DisplayName("Tempo de Espera")
                </th>
                <th>
                    @Html.DisplayName("Duração da Campanha")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tituloDestaque)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.qtCredito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tmpEspera)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.durCampanha + " "+ item.qtDurCampanha)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.did }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.did }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.did })
                    </td>
                </tr>
            }

        </table>
    </div>
    <!-- /.col-lg-12 -->
</div>
