@model Cliquemix.Models.tbAnuncio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbAnuncio</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.tituloAnuncio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tituloAnuncio)
                @Html.ValidationMessageFor(model => model.tituloAnuncio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.url)
                @Html.ValidationMessageFor(model => model.url)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dsAnuncio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dsAnuncio)
                @Html.ValidationMessageFor(model => model.dsAnuncio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.videoAnuncio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.videoAnuncio)
                @Html.ValidationMessageFor(model => model.videoAnuncio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comentar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comentar)
                @Html.ValidationMessageFor(model => model.comentar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.curtir, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.curtir)
                @Html.ValidationMessageFor(model => model.curtir)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.compartilhar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.compartilhar)
                @Html.ValidationMessageFor(model => model.compartilhar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.asid, "asid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("asid", String.Empty)
                @Html.ValidationMessageFor(model => model.asid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dtCriacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dtCriacao)
                @Html.ValidationMessageFor(model => model.dtCriacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pid, "pid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pid", String.Empty)
                @Html.ValidationMessageFor(model => model.pid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.acid, "acid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("acid", String.Empty)
                @Html.ValidationMessageFor(model => model.acid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.actid, "actid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("actid", String.Empty)
                @Html.ValidationMessageFor(model => model.actid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
