@model Cliquemix.Models.tbAnuncio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbAnuncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tituloAnuncio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tituloAnuncio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dsAnuncio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsAnuncio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.videoAnuncio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.videoAnuncio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curtir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curtir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compartilhar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compartilhar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbAnunciante.cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAnunciante.cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbAnuncioCategoria.dsCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAnuncioCategoria.dsCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbAnuncioCodTemp.actid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAnuncioCodTemp.actid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbAnuncioStatus.dsStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAnuncioStatus.dsStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.aid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
