@using System.Diagnostics.Eventing.Reader
@using Microsoft.AspNet.Identity;

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Principal
                <small>CliqueMix - Anunciante</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs.cshtml")
        </div>
    </div>
</div>


<div class="row">
    <!--Inicio Row principal -->
    <div class="col-lg-12">
        <!--Inicio col-12 principal -->
        <div class="row">
            <!--Inicio Row-texto-area principal -->
            <div class="col-lg-12">
                <!--Inicio col-12 texto-area principal -->
                <div class="portlet portlet-dark-blue">
                    <!--Inicio portlet -->
                    <div class="portlet-body">
                        <!--Inicio portlet-body -->
                        <ul id="userTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#profile-settings" data-toggle="tab">Anúncios</a>
                            </li>
                        </ul>

                        <!---------------------------- Inicio Dashboard - Anuncios ------------------------------------------------------->
                        <div class="row">
                            <div class="col-lg-12">
                                <br/>
                                <div class="col-lg-1 col-sm-6"></div>

                                <div class="col-lg-2 col-sm-6">
                                    <div class="circle-tile">
                                        <a href="#">
                                            <div class="circle-tile-heading dark-blue">
                                                <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                            </div>
                                        </a>
                                        <div class="circle-tile-content dark-blue">
                                            <div class="circle-tile-description text-faded">
                                                Disponíveis
                                            </div>
                                            <div class="circle-tile-number text-faded">
                                                @ViewBag.DashAnuncioDisponiveis
                                            </div>
                                            <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="circle-tile">
                                        <a href="#">
                                            <div class="circle-tile-heading green">
                                                <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                            </div>
                                        </a>
                                        <div class="circle-tile-content green">
                                            <div class="circle-tile-description text-faded">
                                                Em Campanha
                                            </div>
                                            <div class="circle-tile-number text-faded">
                                                @ViewBag.DashAnuncioEmCampanha
                                            </div>
                                            <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="circle-tile">
                                        <a href="#">
                                            <div class="circle-tile-heading orange">
                                                <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                            </div>
                                        </a>
                                        <div class="circle-tile-content orange">
                                            <div class="circle-tile-description text-faded">
                                                Em Aprovação
                                            </div>
                                            <div class="circle-tile-number text-faded">
                                                @ViewBag.DashAnuncioEmAprovacao
                                            </div>
                                            <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="circle-tile">
                                        <a href="#">
                                            <div class="circle-tile-heading blue">
                                                <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                            </div>
                                        </a>
                                        <div class="circle-tile-content blue">
                                            <div class="circle-tile-description text-faded">
                                                Publicados
                                            </div>
                                            <div class="circle-tile-number text-faded">
                                                @ViewBag.DashAnuncioPublicados
                                            </div>
                                            <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="circle-tile">
                                        <a href="#">
                                            <div class="circle-tile-heading red">
                                                <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                            </div>
                                        </a>
                                        <div class="circle-tile-content red">
                                            <div class="circle-tile-description text-faded">
                                                Bloqueados
                                            </div>
                                            <div class="circle-tile-number text-faded">
                                                @ViewBag.DashAnuncioBloqueados
                                            </div>
                                            <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-6"></div>

                            </div>
                        </div>
                        <!---------------------------- Fim Dashboard - Anuncios ------------------------------------------------------->

                    </div>
                    <!--Fim portlet-body -->
                </div>
                <!--Fim portlet -->
                <!--=============================================================================================================================-->

                <div class="row">
                    <!--Inicio Row-texto-area principal -->
                    <div class="col-lg-12">
                        <!--Inicio col-12 texto-area principal -->
                        <div class="portlet portlet-dark-blue">
                            <!--Inicio portlet -->
                            <div class="portlet-body">
                                <!--Inicio portlet-body -->
                                <ul id="userTab" class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#profile-settings" data-toggle="tab">Campanhas</a>
                                    </li>
                                </ul>
                               

                                <!---------------------------- Inicio Dashboard - Campanha ------------------------------------------------------->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <br />

                                        <div class="col-lg-2 col-sm-6">
                                            <div class="circle-tile">
                                                <a href="#">
                                                    <div class="circle-tile-heading dark-blue">
                                                        <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                                    </div>
                                                </a>
                                                <div class="circle-tile-content dark-blue">
                                                    <div class="circle-tile-description text-faded">
                                                        Programadas
                                                    </div>
                                                    <div class="circle-tile-number text-faded">
                                                        @ViewBag.DashCampanhaProgramadas
                                                    </div>
                                                    <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-6">
                                            <div class="circle-tile">
                                                <a href="#">
                                                    <div class="circle-tile-heading green">
                                                        <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                                    </div>
                                                </a>
                                                <div class="circle-tile-content green">
                                                    <div class="circle-tile-description text-faded">
                                                        Em Campanha
                                                    </div>
                                                    <div class="circle-tile-number text-faded">
                                                        @ViewBag.DashCampanhaEmCampanha
                                                    </div>
                                                    <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-6">
                                            <div class="circle-tile">
                                                <a href="#">
                                                    <div class="circle-tile-heading orange">
                                                        <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                                    </div>
                                                </a>
                                                <div class="circle-tile-content orange">
                                                    <div class="circle-tile-description text-faded">
                                                        Em Aprovação
                                                    </div>
                                                    <div class="circle-tile-number text-faded">
                                                        @ViewBag.DashCampanhaEmAprovacao
                                                    </div>
                                                    <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-6">
                                            <div class="circle-tile">
                                                <a href="#">
                                                    <div class="circle-tile-heading blue">
                                                        <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                                    </div>
                                                </a>
                                                <div class="circle-tile-content blue">
                                                    <div class="circle-tile-description text-faded">
                                                        Pausadas
                                                    </div>
                                                    <div class="circle-tile-number text-faded">
                                                        @ViewBag.DashCampanhaEmPausa
                                                    </div>
                                                    <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-6">
                                            <div class="circle-tile">
                                                <a href="#">
                                                    <div class="circle-tile-heading red">
                                                        <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                                    </div>
                                                </a>
                                                <div class="circle-tile-content red">
                                                    <div class="circle-tile-description text-faded">
                                                        Bloqueadas
                                                    </div>
                                                    <div class="circle-tile-number text-faded">
                                                        @ViewBag.DashCampanhaBloqueadas
                                                    </div>
                                                    <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-6">
                                            <div class="circle-tile">
                                                <a href="#">
                                                    <div class="circle-tile-heading purple">
                                                        <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                                    </div>
                                                </a>
                                                <div class="circle-tile-content purple">
                                                    <div class="circle-tile-description text-faded">
                                                        Finalizadas
                                                    </div>
                                                    <div class="circle-tile-number text-faded">
                                                        @ViewBag.DashCampanhaFinalizadas
                                                    </div>
                                                    <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---------------------------- Fim Dashboard - Campanha ------------------------------------------------------->
                                <!--=============================================================================================================================-->

                            </div>
                            <!--Fim portlet-body -->
                        </div>
                        <!--Fim portlet -->
                    </div>
                    <!--Inicio col-12 texto-area principal -->
                </div>
                <!--Fim Row-texto-area principal -->
                




            </div>
            <!--Inicio col-12 texto-area principal -->
        </div>
        <!--Fim Row-texto-area principal -->
    </div>
    <!--Fim Col-12 principal -->
</div>
<!--Fim Row principal -->
