@model Cliquemix.Models.tbAnunciante

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ANUNCIANTE</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("CNPJ", new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.cnpj)
                @Html.ValidationMessageFor(model => model.cnpj)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Razão Social", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.razaoSocial)
                @Html.ValidationMessageFor(model => model.razaoSocial)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nome Fantasia", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nmFantasia)
                @Html.ValidationMessageFor(model => model.nmFantasia)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Contato", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contato)
                @Html.ValidationMessageFor(model => model.contato)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Insc. Estadual", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ie)
                @Html.ValidationMessageFor(model => model.ie)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Insc. Municipal", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.im)
                @Html.ValidationMessageFor(model => model.im)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("E-mail", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Site", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.site)
                @Html.ValidationMessageFor(model => model.site)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Observações", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.obs)
                @Html.ValidationMessageFor(model => model.obs)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Condição de Pagto", "cpid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cpid", String.Empty)
                @Html.ValidationMessageFor(model => model.cpid)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ramo de Atividade", "raid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("raid", String.Empty)
                @Html.ValidationMessageFor(model => model.raid)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Saldo de Créditos", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.saldoCreditos)
                @Html.ValidationMessageFor(model => model.saldoCreditos)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Termo Lido", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.leuTermo)
                @Html.ValidationMessageFor(model => model.leuTermo)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Usuário", "uid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("uid", String.Empty)
                @Html.ValidationMessageFor(model => model.uid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
