@model IEnumerable<Cliquemix.Models.tbAnunciante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ANUNCIANTES</h2>

<p>
    @Html.ActionLink("Novo Anunciante", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("CÓDIGO")
        </th>        
        <th>
            @Html.DisplayName("CNPJ")
        </th>
        <th>
            @Html.DisplayName("RAZÃO SOCIAL")
        </th>
        <th>
            @Html.DisplayName("SALDO DE CRÉDITOS")
        </th>
        <th>
            @Html.DisplayName("USUÁRIO")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pid)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saldoCreditos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbUsers.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pid }) |
            @Html.ActionLink("Details", "Details", new { id=item.pid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pid })
        </td>
    </tr>
}

</table>
