@model Cliquemix.Models.tbAnuncianteDestaque

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbAnuncianteDestaque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.qtCreditoCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtCreditoCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtAssociacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAssociacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbAnunciante.cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAnunciante.cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbAnuncianteDestaqueStatus.dsAnuncianteDestaqueStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAnuncianteDestaqueStatus.dsAnuncianteDestaqueStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbDestaque.tituloDestaque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbDestaque.tituloDestaque)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
