@model Cliquemix.Models.tbAnuncianteDestaque

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbAnuncianteDestaque</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.qtCreditoCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtCreditoCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtAssociacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAssociacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbAnunciante.cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAnunciante.cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbAnuncianteDestaqueStatus.dsAnuncianteDestaqueStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAnuncianteDestaqueStatus.dsAnuncianteDestaqueStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbDestaque.tituloDestaque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbDestaque.tituloDestaque)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.adid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
