@model Cliquemix.Models.tbAnuncianteDestaque

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbAnuncianteDestaque</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.adid)

        <div class="form-group">
            @Html.LabelFor(model => model.pid, "pid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pid", String.Empty)
                @Html.ValidationMessageFor(model => model.pid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.did, "did", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("did", String.Empty)
                @Html.ValidationMessageFor(model => model.did)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.adsid, "adsid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("adsid", String.Empty)
                @Html.ValidationMessageFor(model => model.adsid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.qtCreditoCompra, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.qtCreditoCompra)
                @Html.ValidationMessageFor(model => model.qtCreditoCompra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dtAssociacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dtAssociacao)
                @Html.ValidationMessageFor(model => model.dtAssociacao)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
