@model Cliquemix.Models.tbAnuncio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbAnuncio</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.tituloAnuncio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tituloAnuncio)
                @Html.ValidationMessageFor(model => model.tituloAnuncio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.url, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.url)
                @Html.ValidationMessageFor(model => model.url)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dsAnuncio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dsAnuncio)
                @Html.ValidationMessageFor(model => model.dsAnuncio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.videoAnuncio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.videoAnuncio)
                @Html.ValidationMessageFor(model => model.videoAnuncio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aaid, "aaid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("aaid", String.Empty)
                @Html.ValidationMessageFor(model => model.aaid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
