@using System.Security.Cryptography
@using System.Web.UI.WebControls
@using Cliquemix.Models;
@model Cliquemix.Models.tbAnuncio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Random random = new Random();
    ViewBag.CodImagem = ProcFunc.RetornaProxCodTempImgAnuncio();
}

<script type="text/javascript"
        src="~/Scripts/Outros/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/Outros/jquery-2.1.1.js"></script>
<script src="~/Scripts/Outros/jquery.uploadify.js"></script>
<link href="~/Content/Outros/uploadify.css" rel="stylesheet" />

<script type="text/javascript">

    var idAlbum = @ViewBag.CodImagem
    $(function () {
        $('#Filedata').uploadify({
            'swf': '/Content/Outros/uploadify.swf',
            'uploader': '/Anuncio/UploadImagem',
            'method': 'post',
            'formData': { 
                'idAlbum': idAlbum
            }            
        });
        atualizarImagens();
    });

    function atualizarImagens() {
        $.ajax(
        {
            type: 'GET',
            url: '/Anuncio/UploadImagem/',
            dataType: 'html',
            cache: false,
            async: true,
            success: function (data) {
                $('#upload_Imagem').html(data);
            }
        });
    }

</script>

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Criar Anúncio</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Anuncio.cshtml")
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @ViewBag.CodImagem
    @Html.AntiForgeryToken()        
    <div class="row">
            <div class="col-lg-12">
                <div class="portlet portlet-default">
                    <div class="portlet-body">
                        <ul id="userTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#profile-settings" data-toggle="tab">Cadastro de Anúncio</a>
                            </li>
                        </ul>
                        <div id="userTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="profile-settings">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul id="userSettings" class="nav nav-pills nav-stacked">
                                            <li class="active">
                                                <a href="#infoBasico" data-toggle="tab" id="lnk1"><i class="fa fa-info-circle fa-fw"></i> Informações</a>
                                            </li>
                                            <li>
                                                <a href="#infoVideo" data-toggle="tab" id="lnk2"><i class="fa fa-film fa-fw"></i> Video</a>
                                            </li>
                                            <li>
                                                <a href="#infoImg" data-toggle="tab" id="lnk3"><i class="fa fa-picture-o fa-fw"></i> Imagens</a>
                                            </li>
                                            <li>
                                                <a href="#infoFunc" data-toggle="tab" id="lnk4"><i class="fa fa-puzzle-piece fa-fw"></i> Funcionalidades</a>
                                            </li>
                                        </ul>
                                    </div>

                                    @Html.ValidationSummary(true)

                                    <div class="col-sm-9">
                                        <div id="userSettingsContent" class="tab-content">
                                            <div class="tab-pane fade in active" id="infoBasico">
                                                @*  Dados do Anúncio  *@
                                                
                                                <h4 class="page-header">Informações do Anúncio:</h4>
                                                <div class="form-group col-lg-6">
                                                    @Html.Label("Título do Anúncio")
                                                    @Html.TextBoxFor(model => model.tituloAnuncio, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.tituloAnuncio)
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    @Html.Label("URL do Anúncio")
                                                    @Html.TextBoxFor(model => model.url, new { @class = "form-control", placeholder = "Http://" })
                                                </div>

                                                <div class="clearfix"></div>
                                                <div class="form-group col-lg-offset-6"></div>

                                                <div class="form-group col-lg-6">
                                                    @Html.Label("Ramo de Atividade")
                                                    <div class="clearfix"></div>
                                                    @Html.DropDownList("raid", null, string.Empty, new { style = "width:300px; height:34px" })
                                                    @Html.ValidationMessageFor(model => model.raid)
                                                </div>

                                                <div class="form-group col-lg-offset-6"></div>

                                                <div class="form-group col-lg-6">
                                                    @Html.Label("Status")
                                                    <div class="clearfix"></div>
                                                    @Html.DropDownList("asid", null, String.Empty, new { style = "width:300px; height:34px" })
                                                    @Html.ValidationMessageFor(model => model.asid)
                                                </div>

                                                <div class="clearfix"></div>
                                                <div class="form-group col-lg-offset-6"></div>
                                                                                                    
                                                <div class="form-group col-lg-12">
                                                    <div id="summernote"></div>
                                                    @Html.HiddenFor(model => model.dsAnuncio)
                                                </div>

                                                <div class="col-sm-offset-10 col-sm-1">
                                                    <button type="button" onclick=" $('#lnk2').click(); " class="btn btn-default">Próximo</button>
                                                </div>                                                
                                            </div>                                            

                                            <div class="tab-pane fade" id="infoVideo">
                                                
                                                <h4 class="page-header">Informações do Video:</h4>
                                                <div class="form-group col-lg-6">
                                                    @Html.Label("URL do Vídeo")
                                                    @Html.TextBoxFor(model => model.videoAnuncio, new { @class = "form-control", placeholder = "Http://" })
                                                </div>

                                                <div class="form-group col-lg-offset-6">

                                                </div>

                                                <div class="clearfix"></div>
                                                @*
                                                <div class="form-group col-lg-6">
                                                    @Html.Label("Imagem do Vídeo")
                                                    <input type="image" class="img-thumbnail" src="~/fonts/img/produto_sem_foto.gif">
                                                </div>
                                                *@
                                                <div class="clearfix"></div>
                                                
                                                <div class="form-group col-lg-offset-9">
                                                    <button type="button" onclick=" $('#lnk1').click(); " class="btn btn-default">Anterior</button>
                                                    <button type="button" onclick=" $('#lnk3').click(); " class="btn btn-default">Próximo</button>
                                                </div>
                                            </div>


                                            <div class="tab-pane fade in" id="infoImg">
                                                <h4 class="page-header">Galeria de Imagens:</h4>
                                                <div class="col-lg-offset-6"></div>
                                                <div class="clearfix"></div>
                                                <div>
                                                    <input type="file" name="Filedata" id="Filedata" value="Upload de Imagem" onchange="atualizarImagens();"/>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div id="upload_Imagem">
                                                    @{
                                                        Html.RenderPartial("UploadImagem");
                                                    }
                                                    @* Campos que armazenarão a url da imagem *@
                                                </div>
                                                <button type="button" id="btnTeste" onclick="atualizarImagens();">Atualizar</button>
                                                @Html.Hidden("txtTemp")
                                                <input type="hidden" id="idTempImg" name="idTempImg" value=@ViewBag.CodImagem />
                                                <div class="form-group col-lg-offset-9">
                                                    <button type="button" onclick=" $('#lnk2').click(); " class="btn btn-default">Anterior</button>
                                                    <button type="button" onclick=" $('#lnk4').click(); " class="btn btn-default">Próximo</button>
                                                </div>
                                            </div>
                                            

                                            <div class="tab-pane fade in" id="infoFunc">
                                                <h4 class="page-header">Escolha as Funcionalidades:</h4>
                                                <div class="form-group col-lg-12 ">                                                        
                                                    <div class="col-lg-3">
                                                        <input type="checkbox" name="curtir" value="true" id="curtir">
                                                        <input type="hidden" name="curtir" value="false">
                                                        @Html.Label("Curtir")
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-lg-3">
                                                        <input type="checkbox" name="comentar" value="true" id="comentar">
                                                        <input type="hidden" name="comentar" value="false">
                                                        @Html.Label("Comentar")
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-lg-3">
                                                        <input type="checkbox" name="compartilhar" value="true" id="compartilhar">
                                                        <input type="hidden" name="compartilhar" value="false">
                                                        @Html.Label("Compartilhar")
                                                    </div>                                                            
                                                    <div class="col-lg-9"></div>
                                                    <div class="clearfix"></div>
                                                    <div class="form-group col-lg-12"></div>
                                                    <div class="form-group col-lg-12"></div>
                                                    <div class="form-group col-lg-12"></div>
                                                    <button type="button" onclick=" $('#lnk3').click(); " class="btn btn-default">Anterior</button>
                                                    <button type="submit" value="Salvar" class="btn btn-default" onclick="atualizaDescAnuncio();">
                                                        <i class="fa fa-floppy-o"></i>Salvar
                                                    </button>
                                                </div>
                                            </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.portlet-body -->
        </div>
        <!-- /.portlet -->
    </div>
    <!-- /.col-lg-12 -->
}