@model Cliquemix.Models.tbAnuncio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbAnuncio</h4>
	<hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayName("Código")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aid)
        </dd>        
        
        <dt>
            @Html.DisplayName("Título do Anúncio")
        </dt>        

        <dd>
            @Html.DisplayFor(model => model.tituloAnuncio)
        </dd>

        <dt>
            @Html.DisplayName("URL do Anúncio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayName("Descrição do Anúncio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsAnuncio)
        </dd>

        <dt>
            @Html.DisplayName("URL do Vídeo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.videoAnuncio)
        </dd>

        <dt>
            @Html.DisplayName("Ramo de Atividade")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbRamoAtividade.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.aid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
