@model Cliquemix.Models.tbAnuncio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>
                    Anúncio
                    <small> Detalhes</small>
                </h1>
                @RenderPage("~/Views/Breadcrumbs/Breadcrumbs.cshtml")
            </div>

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.Label("Código", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayTextFor(model => model.aid)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Título do Anúncio", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayTextFor(model => model.tituloAnuncio)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("URL do Anúncio", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayTextFor(model => model.url)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Descriçao do Anúncio", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayTextFor(model => model.dsAnuncio)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Link do Vídeo", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayTextFor(model => model.videoAnuncio)
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.Label("Ramo de Atividade", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayTextFor(model => model.tbRamoAtividade.descricao)
                    </div>
                </div>

            </div>
            <div>
                @Html.ActionLink("Editar", "Edit", new { id = Model.uid }) |
                @Html.ActionLink("Voltar", "Index")
            </div>
        </div>
    </div>
</div>
