@model IEnumerable<Cliquemix.Models.tbAnuncio>

@{
    ViewBag.Title = "Index";
}

<h2>Anúncio - Lista</h2>

<p>
    @Html.ActionLink("Novo Anúncio", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código")
        </th>        
        <th>
            @Html.DisplayName("Título do Anúncio")
        </th>
        <th>
            @Html.DisplayName("URL")
        </th>
        <th>
            @Html.DisplayName("Descrição")
        </th>
        <th>
            @Html.DisplayName("Vídeo")
        </th>
        <th>
            @Html.DisplayName("Área do Anúncio")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aid)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.tituloAnuncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsAnuncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.videoAnuncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbAnuncioArea.tituloAnuncioArea)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.aid }) |
            @Html.ActionLink("Visualizar", "Details", new { id=item.aid }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.aid })
        </td>
    </tr>
}

</table>
