@using Cliquemix.Models
@using iTextSharp.text.pdf.qrcode
@using Microsoft.AspNet.Identity
@model PagedList.IPagedList<Cliquemix.Models.tbAnuncio>

<script>
    function Delete() {
        var a = document.getElementById('pCodAnuncio').value;
        $.ajax(
        {
            type: 'POST',
            url: '/Anuncio/DeleteConfirmed/?id=' + a,
            dataType: 'html',
            cache: false,
            async: true,
            success: function () {
                setTimeout(function() {
                    success_message_demo();
                }, 

                setTimeout(function () {
                    limparAviso();
                    document.getElementById('btnListAnuncioCancelarExcluir').click();
                    location.href = "/Anuncio/ListAnuncio";
                }, 3000), 1000);
            }
        });
    }

    function limparAviso() {
        Messenger().hideAll();
    }

    function Visualizar(item) {
        var a = item;
        $.ajax(
        {
            type: 'GET',
            url: '/Anuncio/VisualizarAnuncio/?id=' + a,
            dataType: 'html',
            cache: false,
            async: true,
            success: function () {
                //location.href = "/Anuncio/VisualizarAnuncio";
            }
        });
    }

    function retornaCodAnuncio(item) {
        document.getElementById('pCodAnuncio').value = item;
    }

    function success_message_demo() {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        }
        Messenger().post({
            message: 'O Anúncio selecionado foi excluído com sucesso!',
            type: 'success',
            showCloseButton: true
        });
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Criar Anúncio</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Anuncio-ListAnuncio.cshtml")
        </div>
    </div>
</div>

<input type="hidden" id="pCodAnuncio" name="pCodAnuncio"/>

<div class="row">
    <!-- Basic Responsive Table -->
    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">

                    <h4 class="flutuar">Lista de Anúncios</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Título</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Video</th>
                                <th class="text-center">Imagem</th>
                                <th class="text-center">Data de Criação</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.tituloAnuncio)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.tbAnuncioCategoria.dsCategoria)
                                    </td>
                                    <td class="text-center">
                                        @if (item.videoAnuncio == null) //Verifica se o anúncio contém vídeo
                                        {
                                            @Html.Label("Não", new {@style="font-weight: normal"})
                                        }
                                        else
                                        {
                                            @Html.Label("Sim", new { @style = "font-weight: normal" })
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (item.tbAnuncioImg.Count > 0) //Verifica se o anúncio contém imagens
                                        {
                                            @Html.Label("Sim", new { @style = "font-weight: normal" })
                                        }
                                        else
                                        {
                                            @Html.Label("Não", new { @style = "font-weight: normal" })
                                        }
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.dtCriacao)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.tbAnuncioStatus.dsStatus)
                                    </td>
                                    <td class="text-center">
                                        <a href="/Anuncio/VisualizarAnuncio/@item.aid" title="Visualizar" style="padding-right: 10px;">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href="/Anuncio/UpdateAnuncio/@item.aid" title="Editar" style="padding-right: 10px;">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a style="color: inherit" href="#excluirModal" data-toggle="modal" data-target="#excluirModal" onclick="retornaCodAnuncio(@item.aid);"
                                           data-placement="top" title="Excluir">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.portlet -->
    </div>
</div>

<div class="row">
    <div class="text-center">
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li>
                    @Html.ActionLink("<<", "ListAnuncio", new { pagina = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                    @Html.ActionLink("<", "ListAnuncio", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                </li>
            }
            else
            {
                <li class="disabled">
                    <a><<</a>
                    <a><</a>
                </li>
            }
            <li class="active">
                <a>@Model.PageNumber</a>
            </li>
            <li class="disabled">
                <a>...</a>
            </li>
            <li class="disabled">
                <a>@Model.PageCount</a>
            </li>
            @if (Model.HasNextPage)
            {
                <li>
                    @Html.ActionLink(">", "ListAnuncio", new {title="Avançar", pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter})
                    @Html.ActionLink(">>", "ListAnuncio", new {pagina = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter})
                </li>
            }
            else
            {
                <li class="disabled">
                    <a>></a>
                    <a>>></a>
                </li>
            }
        </ul>
    </div>
</div>


<div class="modal modal-flex fade center-block text-center" id="excluirModal" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="flexModalLabel">
                    <i class="fa fa-trash-o"></i>  Deseja Excluir?
                </h4>
            </div>
            <div class="modal-body">
                <p>Selecione <strong>"Excluir Anúncio"</strong> para removê-lo.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnListAnuncioCancelarExcluir" name="btnListAnuncioCancelarExcluir"
                        class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" id="btnListAnuncioExcluirAnuncio" name="btnListAnuncioExcluirAnuncio"
                        class="btn btn-green" onclick="Delete();">
                    <strong>Excluir Anúncio</strong>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
