@using Cliquemix.Models;
@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@model Cliquemix.Models.tbAnuncio

<link href="~/Content/demo.css" rel="stylesheet">

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anuncio
                <small>Visualizar</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Anuncio-VisualizarAnuncio.cshtml")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Informações do Anúncio</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#Basicas" data-toggle="tab">Básicas</a>
                    </li>
                    <li class="">
                        <a href="#Publicacao" data-toggle="tab">Publicação</a>
                    </li>
                    <li class="">
                        <a href="#Recursos" data-toggle="tab">Recursos</a>
                    </li>
                    <li class="">
                        <a href="#Imagens" data-toggle="tab">Imagens</a>
                    </li>
                    <li class="">
                        <a href="#Estatisticas" data-toggle="tab">Estatísticas</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content" style="min-height: 300px;">
                    <div class="tab-pane fade active in" id="Basicas">
                        <br/>
                        <div class="form-group col-lg-2">
                            @Html.Label("Código")@*1.1.1*@
                            @String.Format("{0:000000}", Model.aid)
                            @Html.TextBoxFor(model => model.aid, new
                            {
                                @class = "form-control",
                                disabled = "",
                                placeholder = "ID"
                            }) 
                        </div>

                        <div class="form-group col-lg-6">
                            @Html.Label("Título") @*1.1.2*@
                            @Html.TextBoxFor(model => model.tituloAnuncio, new
                            {
                                @class = "form-control",
                                disabled = "",
                                placeholder = "Título"
                            })
                        </div>
                        
                        <div class="form-group col-lg-3">
                            @Html.Label("Data de Criação")@*1.3.1*@
                            @Html.TextBoxFor(model => model.dtCriacao, new
                            {
                                @class = "form-control",
                                disabled = "",
                                placeholder = "Data de Criação",
                            })
                        </div>

                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-4">
                            @Html.Label("Categoria")@*1.1.3*@
                            @Html.TextBoxFor(model => model.tbAnuncioCategoria.dsCategoria, new
                            {
                                @class = "form-control",
                                disabled = "",
                                placeholder = "Categoria",
                            })
                        </div>

                        <div class="form-group col-lg-3">
                            @Html.Label("Status Atual")@*1.2.1*@
                            @Html.TextBoxFor(model => model.tbAnuncioStatus.dsStatus, new
                            {
                                @class = "form-control",
                                disabled = "",
                                placeholder = "Status Atual",
                            })
                        </div>

                    </div>

                    <div class="tab-pane fade" id="Publicacao">
                        
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                                            Vídeo do Anúncio
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <video controls autoplay loop muted preload="auto" poster="~/Images/Pictures/ImgDemoVideo.jpg">
                                            HTML5 Video is required for this example
                                        </video>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                            Descrição do Anúncio
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <p>
                                            <h2>@Html.DisplayTextFor(model => model.tituloAnuncio)</h2>

                                            @Html.DisplayTextFor(model => model.dsAnuncio)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                            Demonstração de Publicação
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <img src="~/Images/Pictures/modeloViewAnuncio.jpg" height="400" width="800"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Recursos">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="circle-tile">
                                            <a href="#">
                                                <div class="circle-tile-heading dark-blue">
                                                    <i class="fa fa-thumbs-o-up fa-fw fa-3x"></i>
                                                </div>
                                            </a>
                                            <div class="circle-tile-content dark-blue">
                                                <div class="circle-tile-description text-faded">
                                                    Curtidas
                                                </div>
                                                <div class="circle-tile-number text-faded">
                                                    0
                                                </div>
                                                <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="circle-tile">
                                            <a href="#">
                                                <div class="circle-tile-heading green">
                                                    <i class="fa fa-link fa-fw fa-3x"></i>
                                                </div>
                                            </a>
                                            <div class="circle-tile-content green">
                                                <div class="circle-tile-description text-faded">
                                                    Compartilhadas
                                                </div>
                                                <div class="circle-tile-number text-faded">
                                                    0
                                                </div>
                                                <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="circle-tile">
                                            <a href="#">
                                                <div class="circle-tile-heading orange">
                                                    <i class="fa fa-comments-o fa-fw fa-3x"></i>
                                                </div>
                                            </a>
                                            <div class="circle-tile-content orange">
                                                <div class="circle-tile-description text-faded">
                                                    Comentários
                                                </div>
                                                <div class="circle-tile-number text-faded">
                                                    0
                                                </div>
                                                <a href="#" class="circle-tile-footer">Detalhes <i class="fa fa-chevron-circle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="Estatisticas">
                        <!-- Line Chart Example -->
                        <div class="col-lg-12" style="display: none;">
                            <div class="portlet portlet-default">
                                <div class="portlet-heading">
                                    <div class="portlet-title">
                                        <h4>Line Chart</h4>
                                    </div>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#areaChart"><i class="fa-chevron-down fa"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="areaChart" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-chart-line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                        <!-- Multiple Axes Example -->
                        <div class="col-lg-12" style="display: none;">
                            <div class="portlet portlet-green">
                                <div class="portlet-heading">
                                    <div class="portlet-title">
                                        <h4>Multiple Axes Line Chart</h4>
                                    </div>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#lineChart"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="lineChart" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-chart-multiple-axes"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                        <!-- Bar Chart Example -->
                        <div class="col-lg-6">
                            <div class="portlet portlet-blue">
                                <div class="portlet-heading">
                                    <div class="portlet-title">
                                        <h4>Bar Chart</h4>
                                    </div>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#barChart"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="barChart" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-chart-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <!-- Pie Chart Example -->
                        <div class="col-lg-6">
                            <div class="portlet portlet-orange">
                                <div class="portlet-heading">
                                    <div class="portlet-title">
                                        <h4>Pie Chart</h4>
                                    </div>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#donutChart"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="donutChart" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-chart-pie"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <!-- Moving Line Chart Example -->
                        <div class="col-lg-6" style="display: none;">
                            <div class="portlet portlet-red">
                                <div class="portlet-heading">
                                    <div class="portlet-title">
                                        <h4>Moving Line Chart</h4>
                                    </div>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#movingLineChart"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="movingLineChart" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-chart-moving-line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    
                    <div class="tab-pane fade" id="Imagens">
                        <p>Imagens</p>
                    </div>
                </div>
            </div>
            <!-- /.portlet-body -->
        </div>
        <!-- /.portlet -->

    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- Flot Charts -->
<script src="~/Scripts/plugins/flot/jquery.flot.js"></script>
<script src="~/Scripts/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="~/Scripts/plugins/flot/jquery.flot.resize.js"></script>
<script src="~/Scripts/plugins/flot/jquery.flot.pie.js"></script>
<!-- Flot Demo/Dummy Data -->
<script src="~/Scripts/plugins/flot/flot-demo-data.js"></script>
<!-- THEME SCRIPTS -->
<script src="~/Scripts/flex.js"></script>
