@model Cliquemix.Models.tbCreditoCompra

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Créditos</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Credito-Descricao-Compra.cshtml")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-12">
        <div class="portlet portlet-default">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <h1><img src="~/fonts/img/cliquemix-logo-confirm-pedido.png" style="max-width:200px; max-height:40px;" /></h1>
                        <br>
                        <address>
                            <strong>Mix Click</strong>
                            <br>Rua Diamantina, nº 75, sala 312
                            <br>Ipatinga, MG
                            <br>(31) 9999-9999
                        </address>
                    </div>
                    <div class="col-md-6 invoice-terms">
                        <h3>Pedido @ViewBag.CodPedido</h3>
                        <div class="col-md-12">
                            Data do pedido: @Html.DisplayTextFor(model => model.dtCompra)
                        </div>
                        <div class="col-md-12">
                            <strong>
                                <span class="text-red">
                                    Data de vencimento: @ViewBag.dtVencimento
                                </span>
                            </strong>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Endereço</th>
                                        <th>Número</th>
                                        <th>Complemento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.endereco)</td>
                                        <td>@Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.numero_endereco)</td>
                                        <td>@Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.complemento_endereco)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bairro</th>
                                        <th>Cidade</th>
                                        <th>UF</th>
                                        <th>CEP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.nomeBairro)</td>
                                        <td>@Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.nomeCidade)</td>
                                        <td>@Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.ufEstado)</td>
                                        <td>@Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.cep)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>   
                        @*                   
                        <h2>
                            Anunciante<br/>
                            <small>@Html.DisplayTextFor(model => model.tbAnunciante.razaoSocial)</small>
                        </h2>
                        
                        <address>
                            @Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.endereco), nº 
                            @Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.numero_endereco) - 
                            @Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.complemento_endereco)

                            <br><strong>@Html.Label("Bairro")</strong><br>
                            @Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.nomeBairro)

                            <br><strong>@Html.Label("Cidade")</strong><br>
                            @Html.DisplayTextFor(model => model.tbAnunciante.tbAnuncianteEndereco.nomeBairro)

                            <br>São Paula, SP
                            <br>
                            <br>(11) 9535-5555
                        </address>*@
                    </div>
                    <div class="col-md-12 invoice-terms">
                        <h3>Formas do Pagamento</h3>

                        <p>
                            <i class="fa fa-barcode"></i> &nbsp;  &nbsp; Boleto Bancário
                        </p>
                        <p>
                            <i class="fa fa-credit-card"></i>   Cartão de Crédito
                        </p>
                        <br>
                        <p>
                            Na forma de pagamento em boleto, o mesmo tem 5 dias úteis para ser pago.
                        </p>
                        <a class="btn btn-green" href="#"><i class="fa fa-usd"></i> Pague Online</a>
                    </div>
                </div>
                <!-- /.row -->
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Items</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Quantidade</th>
                                        <th class="text-center">Titulo</th>
                                        <th class="text-center">Promocional</th>
                                        <th class="text-center">Preço</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center">Pacote de Credito - 3000c</td>
                                        <td class="text-center">Não</td>
                                        <td class="text-center">R$ 2000.00</td>
                                    </tr>

                                    <tr>

                                        <td colspan="3" class="text-right">
                                            <strong>Subtotal:</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>R$ 2000.00</strong>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td colspan="3" class="text-right">
                                            <strong>Tax (0%):</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>R$ 0.00</strong>
                                        </td>
                                    </tr>
                                    <tr class="text-red">

                                        <td colspan="3" class="text-right">
                                            <strong>TOTAL:</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>R$ 2000.00</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        <a class="btn btn-green" href="#"><i class="fa fa-download"></i> Baixe este documento em PDF</a>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>