@using Cliquemix.Models
@using DocumentFormat.OpenXml.Wordprocessing
@model Cliquemix.Models.tbCreditoCompra

<script>
    setTimeout(
        function() {
            $.ajax(
            {
                type: 'GET',
                url: '/Credito/EnderecoMixClique',
                dataType: 'html',
                cache: true,
                async: true,
                success: function(data) {
                    $('#EnderecoMix').html(data);
                }
            });
        }, 20);

    setTimeout(
        function() {
            $.ajax(
            {
                type: 'GET',
                url: '/Credito/DadosAnunciante',
                dataType: 'html',
                cache: true,
                async: true,
                success: function(data) {
                    $('#DadosAnunciante').html(data);
                }
            });
        }, 20);

    setTimeout(
        function () {
            $.ajax(
            {
                type: 'GET',
                url: '/Credito/ItensCompra',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $('#ItensCompra').html(data);
                }
            });
        }, 20);

</script>

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Créditos</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Credito-Descricao-Compra.cshtml")
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h1><img src="~/fonts/img/cliquemix-logo-confirm-pedido.png" style="max-width: 200px; max-height: 40px;" /></h1>
                            <br>
                            <div id="EnderecoMix">
                                @{
                                    try
                                    {
                                        Html.RenderPartial("EnderecoMixClique");
                                    }
                                    catch (Exception)
                                    {
                                    }
                                }
                            </div>
                        </div>

                        <div class="col-md-6 invoice-terms text-right">
                            <h3 class="text-right">Pedido @ViewBag.CodPedido</h3>
                            Data do pedido: @Html.DisplayTextFor(model => model.dtCompra)
                            <br />
                            <strong class="text-red">Data de vencimento: @ViewBag.dtVencimento</strong>
                        </div>

                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <!-- /.row -->
                    <div class="form-horizontal">
                        @Html.HiddenFor(model => model.pid, new {name="pid", id="pid"})
                        @Html.HiddenFor(model => model.crid, new { name = "crid", id = "crid" })
                        @Html.HiddenFor(model => model.dtCompra, new { name = "dtCompra", id = "dtCompra" })
                        @Html.HiddenFor(model => model.crsid, new { name = "crsid", id = "crsid" })
                        @Html.HiddenFor(model => model.promocional, new { name = "promocional", id = "promocional" })
                        @Html.HiddenFor(model => model.txid, new { name = "txid", id = "txid" })
                        @Html.HiddenFor(model => model.dtVencimento, new { name = "dtVencimento", id = "dtVencimento" })
                    </div>                    

                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Dados do Anunciante</h3>
                            <div id="DadosAnunciante">
                                @{
                                    try
                                    {
                                        Html.RenderPartial("DadosAnunciante");
                                    }
                                    catch (Exception)
                                    {}
                                }
                            </div>
                        </div>

                        <div class="col-md-6 invoice-terms">
                            <h3>Formas do Pagamento</h3>

                            <p>
                                <i class="fa fa-barcode"></i> &nbsp;  &nbsp; Boleto Bancário
                            </p>
                            <p>
                                <i class="fa fa-credit-card"></i>   Cartão de Crédito
                            </p>
                            <br>
                            <p class="text-green">Vencimento padrão do boleto é de:</p>
                            <p class="text-green"><strong>@ProcFunc.RetornarQtdDiasPadraoVencimentoBoleto() dias úteis</strong></p>
                        
                            <button type="submit" class="btn btn-green"><i class="fa fa-usd"></i> Pague Online</button>
                        </div>
                    </div>
                    
                    <!-- /.row -->
                    <hr>
                    <!-- /.row -->
                    
                    <div id="ItensCompra">
                        @{
                            try
                            {
                                Html.RenderPartial("ItensCompra");
                            }
                            catch (Exception)
                            { }
                        }
                    </div>

                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
}