@using System.Globalization
@model IEnumerable<Cliquemix.Models.tbCredito>

@try
{
    foreach (var item in Model)
    {
        <br />
        <br />
        
        @Html.Label("Título", new { style = "width: 130px; color: #34495E; font-weight: 600; font-size: 14px" })
        @Html.Label(item.tituloPacote)
        <div class="clearfix"></div>

        @Html.Label("Qtde de Créditos", new { style = "width: 130px; color: #34495E; font-weight: 600; font-size: 14px" })
        @Html.Label(item.qtCredito.ToString())
        <div class="clearfix"></div>

        @Html.Label("Valor do Pacote", new { style = "width: 130px; color: #34495E; font-weight: 600; font-size: 14px" })
        @Html.Label(String.Format(new CultureInfo("pt-BR"), "{0:C}", item.vlCredito.ToString()))
        <div class="clearfix"></div>

        @Html.Label("Promocional", new { style = "width: 130px; color: #34495E; font-weight: 600; font-size: 14px" })
        if (item.promocional == true)
        {
            @Html.Label("Sim")
        }
        else
        {
            @Html.Label("Não")
        }
    }
    <br /><br />
}
catch (Exception)
{
    <br /><br />
}