@model IEnumerable<Cliquemix.Models.tbCredito>

@try
{
    foreach (var item in Model)
    {
        <div class="form-group col-lg-2">
            @Html.Label("Quantidade de Créditos", new { style = "color: #34495E; font-weight: 600; font-size: 14px" })
            <div class="clearfix"></div>
            @Html.Display(item.crid.ToString())
        </div>
        <div class="form-group col-lg-2">
            @Html.Label("Item", new { style = "color: #34495E; font-weight: 600; font-size: 14px" })
            <div class="clearfix"></div>
            @Html.Display(item.crid.ToString())
        </div>
        <div class="form-group col-lg-2">
            @Html.Label("Item", new { style = "color: #34495E; font-weight: 600; font-size: 14px" })
            <div class="clearfix"></div>
            @Html.Display(item.crid.ToString())
        </div>
        <div class="form-group col-lg-2">
            @Html.Label("Item", new { style = "color: #34495E; font-weight: 600; font-size: 14px" })
            <div class="clearfix"></div>
            @Html.Display(item.crid.ToString())
        </div>
        <div class="form-group col-lg-2">
            @Html.Label("Item", new { style = "color: #34495E; font-weight: 600; font-size: 14px" })
            <div class="clearfix"></div>
            @Html.Display(item.crid.ToString())
        </div>
    }
}
catch (Exception)
{
    throw;
}