@using System.Globalization
@model IEnumerable<Cliquemix.Models.tbCredito>

@try
{
    foreach (var item in Model)
    {
        <div class="col-lg-9">
            @Html.Label("Título do Pacote", new { style = "font-weight: bold" })
            <div class="clearfix"></div>
            @Html.Label(item.tituloPacote, new { style = "font-weight: normal" })
        </div>@*
        <div class="col-lg-3">
            @Html.Label("Data da Compra", new { style = "font-size: 12px; font-weight: bold;" })
            <div class="clearfix"></div>
            @Html.Label(item.dtMovimento.ToString(), new { style = "font-size: 12px; font-weight: normal" })
        </div>*@
        <div class="clearfix"></div><br />

        <div class="col-lg-3">
            @Html.Label("Qtde de Créditos", new { style = "font-size: 12px; font-weight: bold;" })
            <div class="clearfix"></div>
            @Html.Label(item.qtCredito.ToString()+" ©", new { style = "font-size: 12px; font-weight: normal" })
        </div>
        <div class="col-lg-3">
            <i class="fa fa-money"> </i>
            @Html.Label("Valor do Pacote", new { style = "font-size: 12px; font-weight: bold;" })
            <div class="clearfix"></div>
            @Html.Label("R$ "+item.vlCredito.ToString(), new { style = "font-size: 12px; font-weight: normal" })
        </div>
        <div class="col-lg-3">
            @Html.Label("Promocional", new { style = "font-size: 12px; font-weight: bold;" })
            <div class="clearfix"></div>
            @Html.Label("Não", new { style = "font-size: 12px; font-weight: normal" })
        </div>
    }
}
catch (Exception)
{
    <br /><br />
}
