@using System.Globalization
@model IEnumerable<Cliquemix.Models.tbCredito>

@try
{
    foreach (var item in Model)
    {
        <ul class="plan plan2 featured">
            <li class="plan-name">
                <h3>@item.tituloPacote</h3>
            </li>
            <li class="plan-price">
                <div>
                    <span class="price">
                        <sup>R$</sup>
                        @String.Format("{0:C}", item.vlCredito)
                    </span>
                    @*<small>month</small>*@
                </div>
            </li>
            <li>
                <strong>@item.qtCredito.ToString()</strong>
                Créditos
            </li>
            <li>
                <strong>Preço</strong>
                @if (item.promocional == true)
                {
                    @Html.Label("Promocional", new {style="font-weight: normal"})
                }
                else
                {
                    @Html.Label("Real", new { style = "font-weight: normal" })
                }
            </li>
            <li>
                @item.dsCredito
            </li>
        </ul>
    }

}
catch (Exception)
{
    <div class="clearfix"></div>
    <div class="clearfix"></div>
}


@*
    @using System.Globalization
    @model IEnumerable<Cliquemix.Models.tbCredito>

    @try
    {
        foreach (var item in Model)
        {
            <br/>
            <br/>

            @Html.Label("Título", new {style = "width: 120px; color: #34495E; font-weight: 600; font-size: 14px"})
            @Html.Label(item.tituloPacote)
            <div class="clearfix"></div>

            @Html.Label("Qtde de Créditos", new { style = "width: 120px; color: #34495E; font-weight: 600; font-size: 14px" })
            @Html.Label(item.qtCredito.ToString())
            <div class="clearfix"></div>

            @Html.Label("Valor do Pacote", new { style = "width: 120px; color: #34495E; font-weight: 600; font-size: 14px" })
            @Html.Label(String.Format(new CultureInfo("pt-BR"), "{0:C}", item.vlCredito.ToString()))
            <div class="clearfix"></div>

            @Html.Label("Promocional", new { style = "width: 120px; color: #34495E; font-weight: 600; font-size: 14px" })
            if (item.promocional == true)
            {
                @Html.Label("Sim")
            }
            else
            {
                @Html.Label("Não")
            }
        }

    }
    catch (Exception)
    {
        <div class="clearfix"></div>
        <div class="clearfix"></div>
    }
*@