@using Cliquemix.Models
@model PagedList.IPagedList<Cliquemix.Models.tbCreditoCompra>

<script>
    function ErroCriarCampanha(tipo) {
        var desc = null;
        if (tipo == 1) {
            desc = "O Anunciante possui créditos pendentes para pagamento.<br>[Cod: 007.00001]";
        }
        else if (tipo == 2) {
            desc = "A Compra de Crédito informada não está disponível para pagamento.<br>[Cod: 007.00002]";
        }
        else if (tipo == 3) {
            desc = "A Compra de Crédito selecionada não pertence a esse usuário.<br>[Cod: 007.00003]";
        }
        else if (tipo == 4) {
            desc = "A Compra de Crédito não tem um arquivo XML válido, verifique com os administradores.<br>[Cod: 007.00004]";
        }
        setTimeout(function () {
            erro_message_demo(desc);
        }, 1000);
    }

    function limparAviso() {
        Messenger().hideAll();
    }

    function erro_message_demo(erro) {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        }
        Messenger().post({
            message: erro,
            type: 'error',
            showCloseButton: true
        });
    };

    function success_message_demo() {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        }
        Messenger().post({
            message: 'A Compra de Créditos selecionada foi cancelada com sucesso!',
            type: 'success',
            showCloseButton: true
        });
    }

    function PagarCompra(cd) {
        $.ajax(
        {
            type: 'GET',
            url: '/Credito/ConfirmarCompra/?ccid=' + cd,
            dataType: 'html',
            cache: true,
            async: true,
            success: function () {
                //alert('Passou');
                //$('#detalhesDestaque').html(data);
                //$('#detalhesDestaque2').html(data);
            }
        });
    }

    function CancelarCompra(cd) {
        $.ajax(
        {
            type: 'POST',
            url: '/Credito/CancelarCompra/?ccid=' + cd,
            dataType: 'html',
            cache: false,
            async: true,
            success: function() {
                setTimeout(function () {
                    success_message_demo();
                },
                setTimeout(function () {
                    limparAviso();
                    location.href = "/Credito/ManagerCredit";
                }, 3000), 1000);
            }
        });
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Créditos</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Credito-Gerenciar.cshtml")
        </div>
    </div>
</div>

@if (ViewBag.ErroCompraCredito == "007.00001")
{
    <script type="text/javascript">ErroCriarCampanha(1);</script>
}
else if (ViewBag.ErroCompraCredito == "007.00002")
{
    <script type="text/javascript">ErroCriarCampanha(2);</script>
}
else if (ViewBag.ErroCompraCredito == "007.00003")
{
    <script type="text/javascript">ErroCriarCampanha(3);</script>
}
else if (ViewBag.ErroCompraCredito == "007.00004")
{
    <script type="text/javascript">ErroCriarCampanha(4);</script>
}

<input type="hidden" id="ccid" name="ccid"/>
<div class="col-lg-12">
    <div class="portlet portlet-dark-blue">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h4>
                    <i class="fa fa-exchange fa-fw"></i> Extrato de Compras 
                    <small>| Saldo Atual: @ViewBag.SaldoAtual ©</small>
                </h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="transactionsPortlet" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div class="table-responsive dashboard-demo-table">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Data do Movimento</th>
                                <th class="text-center">Quantidade</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Pacote</th>
                                <th class="text-center">Promocional</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.dtCompra)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.tbCredito.qtCredito)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.tbCredito.vlCredito)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.tbCredito.tituloPacote)
                                    </td>
                                    <td class="text-center">
                                        @* Verifica se o pacote de crédito estava em promoção *@
                                        @if (item.promocional == true)
                                        {
                                            @Html.Label("Sim", new { @style = "font-weight: normal" })
                                        }
                                        else
                                        {
                                            @Html.Label("Não", new { @style = "font-weight: normal" })
                                        }
                                    </td>
                                    <td class="text-center">
                                        @* Verifica se o pacote de crédito estava em promoção 
                                        //  status = 1    =>  Compra de Crédito Aguardando Pagamento
                                        //  status = 2    =>  Compra de Crédito Cancelada
                                        //  status = 3    =>  Compra de Crédito Pagamento Aprovado 
                                        //  status = outro=>  Compra já Finalizada *@
                                        @{
                                            var s = ProcFunc.RetornarStatusAtualCompraCreditoAnunciante(item.crsid);
                                            if (s == 1)
                                            {
                                                <a class="btn btn-xs btn-orange disabled"><i class="fa fa-clock-o"></i> Aguardando Pagamento</a>
                                            }
                                            else if (s == 2)
                                            {
                                                <a class="btn btn-xs btn-red disabled"><i class="fa fa-warning"></i> Compra Cancelada</a>
                                            }
                                            else if (s == 3)
                                            {
                                                <a class="btn btn-xs btn-green disabled"><i class="fa fa-arrow-circle-right"></i> Pagamento Aprovado</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-xs btn-default disabled"><i class="fa fa-exclamation-circle"></i> Compra Finalizada</a>
                                            }
                                        }
                                    </td>
                                    <td class="text-center">
                                        @* Verifica se o pacote de crédito estava em promoção
                                        //  status = 1    =>  Compra de Crédito Aguardando Pagamento
                                        //  status = 2    =>  Compra de Crédito Cancelada
                                        //  status = 3    =>  Compra de Crédito Pagamento Aprovado
                                        //  status = outro=>  Compra já Finalizada *@
                                        @{
                                            if (s == 1)
                                            {
                                                <a href="ConfirmarCompra?ccid=@item.ccid" title="Pagar" style="padding-right: 10px;"><i class="fa fa-money"></i></a>
                                                <a href="#" title="Cancelar" style="padding-right: 10px;" onclick="CancelarCompra(@item.ccid);"><i class="fa fa-times"></i></a>
                                            }
                                            else
                                            {
                                                <a href="#" title="Visualizar" style="padding-right: 10px;"><i class="fa fa-search"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.col-lg-12 -->

<div class="row">
    <div class="text-center">
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li>
                    @Html.ActionLink("<<", "ManagerCredit", new { pagina = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                    @Html.ActionLink("<", "ManagerCredit", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                </li>
            }
            else
            {
                <li class="disabled">
                    <a><<</a>
                    <a><</a>
                </li>
            }
            <li class="active">
                <a>@Model.PageNumber</a>
            </li>
            <li class="disabled">
                <a>...</a>
            </li>
            <li class="disabled">
                <a>@Model.PageCount</a>
            </li>
            @if (Model.HasNextPage)
            {
                <li>
                    @Html.ActionLink(">", "ManagerCredit", new { title = "Avançar", pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                    @Html.ActionLink(">>", "ManagerCredit", new { pagina = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                </li>
            }
            else
            {
                <li class="disabled">
                    <a>></a>
                    <a>>></a>
                </li>
            }
        </ul>
    </div>
</div>
