@model Cliquemix.Models.tbPremio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbPremio</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tituloPremio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tituloPremio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dsPremio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsPremio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbPremioNivel.tituloNivelPremio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPremioNivel.tituloNivelPremio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.prid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
