@model Cliquemix.Models.tbPremio

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbPremio</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.prid)

        <div class="form-group">
            @Html.LabelFor(model => model.pnid, "pnid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pnid", String.Empty)
                @Html.ValidationMessageFor(model => model.pnid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tituloPremio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tituloPremio)
                @Html.ValidationMessageFor(model => model.tituloPremio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dsPremio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dsPremio)
                @Html.ValidationMessageFor(model => model.dsPremio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dtCriacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dtCriacao)
                @Html.ValidationMessageFor(model => model.dtCriacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ativo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ativo)
                @Html.ValidationMessageFor(model => model.ativo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
