@model IEnumerable<Cliquemix.Models.tbAnuncioArea>

@{
    ViewBag.Title = "Index";
}

<h2>Área de Anúncio - Lista</h2>

<p>
    @Html.ActionLink("Nova Área", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código da Área")
        </th>        
        <th>
            @Html.DisplayName("Título da Área")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aaid)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.tituloAnuncioArea)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.aaid }) |
            @Html.ActionLink("Visualizar", "Details", new { id = item.aaid }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.aaid })
        </td>
    </tr>
}

</table>
