@model Cliquemix.Models.tbAnunciante

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Perfil</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Anunciante-Perfil.cshtml")
        </div>
    </div>
</div>

<script language="JavaScript" type="text/javascript" src="~/Scripts/plugins/validate/MascaraValidacao.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-default">
                <div class="portlet-body">
                    <ul id="userTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#overview" data-toggle="tab">Dados do Contato</a>
                        </li>
                    </ul>
                    @Html.HiddenFor(model => model.pid)
                    <div id="userTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="overview">
                            <div class="row">
                                <div class="col-lg-9 col-md-9">
                                    <div class="form-group col-lg-6">
                                        <label>E-mail</label>
                                        @Html.TextBoxFor(model => model.email, new { @class="form-control" })
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Site</label>
                                        @Html.TextBoxFor(model => model.site, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-lg-3">
                                        @Html.Label("Telefone Residencial")
                                        @Html.TextBoxFor(model => model.telResidencial, 
                                            new
                                            {
                                                @class = "form-control", maxlength = "15", alt="telResidencial",
                                                //onkeypress="MascaraTelefone(this);", onblur="ValidaTelefone(this);"
                                                onkeyup = "mascara(this, mtel);"
                                            })
                                        <div id="msgValidar_telResidencial"></div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        @Html.Label("Telefone Comercial")
                                        @Html.TextBoxFor(model => model.telComercial,
                                            new
                                            {
                                                @class = "form-control",
                                                maxlength = "15",
                                                alt = "telComercial",
                                                //onkeypress = "MascaraTelefone(this);", onblur = "ValidaTelefone(this);"
                                                onkeyup = "mascara(this, mtel);"
                                            })
                                        <div id="msgValidar_telComercial"></div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        @Html.Label("Telefone Celular1")
                                        @Html.TextBoxFor(model => model.telCelular1,
                                            new
                                            {
                                                @class = "form-control",
                                                maxlength = "15",
                                                alt = "telCelular1",
                                                //onkeypress = "MascaraTelefone(this);", onblur = "ValidaTelefone(this);"
                                                onkeyup = "mascara(this, mtel);"
                                            })
                                        <div id="msgValidar_telCelular1"></div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        @Html.Label("Telefone Celular2")
                                        @Html.TextBoxFor(model => model.telCelular2,
                                            new
                                            {
                                                @class = "form-control",
                                                maxlength = "15",
                                                alt = "telCelular2",
                                                //onkeypress = "MascaraTelefone(this);", onblur = "ValidaTelefone(this);"
                                                onkeyup = "mascara(this, mtel);"
                                            })
                                        <div id="msgValidar_telCelular2"></div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <button type="submit" class="btn btn-default" id="save" value="save">
                                            <i class="fa fa-floppy-o"></i>
                                            Salvar
                                        </button>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4">
                                    <div class="portlet portlet-default">
                                        <div id="defaultPortlet" class="panel-collapse collapse in">
                                            <div class="portlet-body">
                                                <h3>Atualizar perfil</h3>
                                                <ul id="userSettings" class="nav nav-pills nav-stacked">
                                                    <li>
                                                        <a href="~/PerfilAnunciante/PerfilAnunciante" ><i class="fa fa-reply fa-fw"></i> Voltar</a>
                                                    </li>

                                                    <li>
                                                        <a href="~/PerfilAnunciante/EditarPerfilDadosEmpresa" ><i class="fa fa-building-o fa-fw"></i> Dados da Empresa</a>
                                                    </li>

                                                    <li class="active">
                                                        <a href="~/PerfilAnunciante/EditarPerfilDadosContato" ><i class="fa fa-phone fa-fw"></i> Dados de Contato</a>
                                                    </li>

                                                    <li>
                                                        <a href="~/PerfilAnunciante/EditarPerfilDadosEndereco" ><i class="fa fa-globe fa-fw"></i>Dados de Endereço</a>
                                                    </li>

                                                    <li>
                                                        <a href="~/PerfilAnunciante/EditarPerfilDadosUsuario" ><i class="fa fa-user fa-fw"></i>Dados de Usuário</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}