<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Perfil</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Anunciante-Perfil.cshtml")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div class="portlet-body">
                <ul id="userTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#overview" data-toggle="tab">Dados da Empresa</a>
                    </li>
                </ul>
                <div id="userTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="overview">
                        <div class="row">
                            <div class="col-lg-9 col-md-9">
                                <div class="form-group col-lg-12">
                                    <label>Razão Social</label>
                                    <input type="text" class="form-control" disabled=""
                                            id="razaoSocial" name="razaoSocial" value="@ViewBag.razaoSocial">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Nome Fantasia</label>
                                    <input type="tel" class="form-control" disabled="" 
                                            id="nomeFantasia" name="nomeFantasia" value="@ViewBag.nomeFantasia">
                                </div>                                
                                <div class="form-group col-lg-4">
                                    <label>CNPJ</label>
                                    <input type="text" class="form-control" disabled=""
                                            id="cnpj" name="cnpj" value="@ViewBag.cnpj">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Inscrição Estadual</label>
                                    <input type="text" class="form-control" disabled=""
                                            id="ie" name="ie" value="@ViewBag.ie">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Inscrição Municipal</label>
                                    <input type="text" class="form-control" disabled=""
                                            id="im" name="im" value="@ViewBag.im">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Administrador</label>
                                    <input type="text" class="form-control" disabled=""
                                            id="contato" name="contato" value="@ViewBag.contato">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Ramo de Atividade</label>
                                    <input type="text" class="form-control" disabled=""
                                            id="ramoAtividade" name="ramoAtividade" value="@ViewBag.ramoAtividade">
                                </div>
                                <div class="form-group col-lg-9">
                                    <button type="submit" class="btn btn-default" id="save" value="save">
                                        <i class="fa fa-floppy-o"></i> Salvar
                                    </button>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="portlet portlet-default">
                                    <div id="defaultPortlet" class="panel-collapse collapse in">
                                        <div class="portlet-body">
                                            <h3>Atualizar perfil</h3>
                                            <ul id="userSettings" class="nav nav-pills nav-stacked">
                                                <li>
                                                    <a href="~/PerfilAnunciante/PerfilAnunciante" ><i class="fa fa-reply fa-fw"></i> Voltar</a>
                                                </li>

                                                <li class="active">
                                                    <a href="~/PerfilAnunciante/EditarPerfilDadosEmpresa" ><i class="fa fa-building-o fa-fw"></i> Dados da Empresa</a>
                                                </li>

                                                <li>
                                                    <a href="~/PerfilAnunciante/EditarPerfilDadosContato" ><i class="fa fa-phone fa-fw"></i> Dados de Contato</a>
                                                </li>

                                                <li>
                                                    <a href="~/PerfilAnunciante/EditarPerfilDadosEndereco" ><i class="fa fa-globe fa-fw"></i>Dados de Endereço</a>
                                                </li>

                                                <li>
                                                    <a href="~/PerfilAnunciante/EditarPerfilDadosUsuario" ><i class="fa fa-user fa-fw"></i>Dados de Usuário</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
