<div class="portlet-body">
    <ul id="userTab" class="nav nav-tabs">
        <li class="active">
            <a href="#overview" data-toggle="tab">Perfil - Principal</a>
        </li>
    </ul>
    <div id="userTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="overview">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <img class="img-responsive img-profile" src="~/fonts/img/empresario-M.jpg" alt="" />

                    <h4>Informações de Contato</h4>

                    <p title="Nome Fantasia">
                        <i class="fa fa-magic fa-muted fa-fw"></i>
                        @ViewBag.nomeFantasia
                    </p>

                    <p title="CNPJ">
                        <i class="fa fa-suitcase fa-muted fa-fw"></i>
                        @ViewBag.cnpj
                    </p>

                    <p title="E-mail">
                        <i class="fa fa-envelope-o fa-muted fa-fw"></i>
                        @ViewBag.email
                    </p>
                </div>

                <div class="col-lg-6 col-md-9">
                    <h1>@ViewBag.razaoSocial</h1>
                    <div class="form-horizontal">
                        <label>Seus Créditos: </label>
                        <label class="btn btn-white">@ViewBag.saldoAtual ©</label>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portlet portlet-default">
                        <div id="defaultPortlet" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <h3>Atualizar perfil</h3>
                                <ul id="userSettings" class="nav nav-pills nav-stacked">
                                    <li>
                                        <a href="~/PerfilAnunciante/EditarPerfilDadosEmpresa"><i class="fa fa-building-o fa-fw"></i> Dados da Empresa</a>
                                    </li>

                                    <li>
                                        <a href="~/PerfilAnunciante/EditarPerfilDadosContato" ><i class="fa fa-phone fa-fw"></i> Dados de Contato</a>
                                    </li>

                                    <li>
                                        <a href="~/PerfilAnunciante/EditarPerfilDadosEndereco" ><i class="fa fa-globe fa-fw"></i>Dados de Endereço</a>
                                    </li>

                                    <li>
                                        <a href="~/PerfilAnunciante/EditarPerfilDadosUsuario" ><i class="fa fa-user fa-fw"></i>Dados de Usuário</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
