@model Cliquemix.Models.tbBan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbBan</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dtOcorrido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtOcorrido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbBanTipo.tituloBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbBanTipo.tituloBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsers.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsers.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.baid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
