@model IEnumerable<Cliquemix.Models.tbBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BANS</h2>

<p>
    @Html.ActionLink("Novo Ban", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dtOcorrido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbBanTipo.tituloBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbUsers.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dtOcorrido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbBanTipo.tituloBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbUsers.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.baid }) |
            @Html.ActionLink("Details", "Details", new { id=item.baid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.baid })
        </td>
    </tr>
}

</table>
