@using Cliquemix.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Cliquemix.Models.tbCampanhaAnuncio>

<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Título</th>
                    <th class="text-center">Ramo</th>
                    <th class="text-center">Video</th>
                    <th class="text-center">Imagem</th>
                    <th class="text-center">Data</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            @try
            {

                foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.aid) @* Código do Anúncio *@
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.tbAnuncio.tituloAnuncio) @* Título do Anúncio *@
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.tbAnuncio.tbRamoAtividade.descricao) @* Ramo de Atividade *@
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => "Não") @* Anúncio tem Vídeo *@
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => "Sim") @* Anúncio tem Imagem *@
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.dtMovimento) @* Data de Vínculo do Anúncio à Campanha *@
                            </td>
                            <td class="text-center">

                                <a href="#" title="Excluir">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                }

            }
            catch (Exception)
            {
                <br />
                <label style="color: #34495E; font-weight: normal; font-size: 20px">
                    Não existem anúncios nessa campanha
                </label>

                <div class="clearfix"></div>
                <div class="clearfix"></div>

            }

        </table>
    </div>

</div>
