@model IEnumerable<Cliquemix.Models.tbCampanhaAnuncio>

<script>
    function excluirAnuncio() {
        $.ajax(
        {
            type: 'POST', //Delete(int campanha)
            url: '/Campanha/DeleteAnuncio/?campanha='+@ViewBag.CodCampanha,
            dataType: 'html',
            cache: true,
            async: true,
            success: function () {
                setTimeout(function() {
                    success_message_excluirAnuncio();
                }, 

                setTimeout(function () {
                    limparAviso();
                    document.getElementById('btnAnunciosCampanhaCancelarExcluir').click();
                    setTimeout(function() {
                        atualizarAnuncios();
                    }, 1000);
                }, 3000), 1000);
            }
        });
    }

    function limparAviso() {
        Messenger().hideAll();
    }

    function success_message_excluirAnuncio() {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        }
        Messenger().post({
            message: 'O Anúncio selecionado foi excluído com sucesso!',
            type: 'success',
            showCloseButton: true
        });
    }
</script>


<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    @*@if (ViewBag.patrocinador == "0")
                    {*@
                        <th class="text-center">ID</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Categoria</th>
                        <th class="text-center">Video</th>
                        <th class="text-center">Imagem</th>
                        <th class="text-center">Ações</th>
                        @*
                    }
                    else
                    {
                        <th class="text-center">ID</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Categoria</th>
                        <th class="text-center">Video</th>
                        <th class="text-center">Imagem</th>
                        <th class="text-center">Consumidor</th>
                        <th class="text-center">Ações</th>
                    }*@
                </tr>
            </thead>

            <tbody>
            @try
            {
@*
                if (ViewBag.patrocinador == "0") //Anunciante Comum
                {*@
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.aid) @* Código do Anúncio *@
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.tbAnuncio.tituloAnuncio) @* Título do Anúncio *@
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.tbAnuncio.tbAnuncioCategoria.dsCategoria) @* Ramo de Atividade *@
                        </td>
                        <td class="text-center">
                            @if (item.tbAnuncio.videoAnuncio == null) // Anúncio tem Vídeo ?
                            {
                                @Html.Label("Não")
                            }
                            else
                            {
                                @Html.Label("Sim")
                            }

                        </td>
                        <td class="text-center">
                            @if (item.tbAnuncio.tbAnuncioImg.Any()) //Anúncio tem Imagem?
                            {
                                @Html.Label("Sim")
                            }
                            else
                            {
                                @Html.Label("Não")
                            }

                        </td>

                        <td class="text-center">
                            <a style="color: inherit" href="#excluirModal" data-toggle="modal" data-target="#excluirModal" data-placement="top" title="Excluir">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                }

                <div class="modal modal-flex fade center-block text-center" id="excluirModal" tabindex="-1" role="dialog"
                     aria-labelledby="flexModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 400px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="flexModalLabel">
                                    <i class="fa fa-trash-o"></i>  Deseja Excluir?
                                </h4>
                            </div>
                            <div class="modal-body">
                                <p>Selecione <strong>"Excluir Anúncio"</strong> para removê-lo.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnAnunciosCampanhaCancelarExcluir" name="btnAnunciosCampanhaCancelarExcluir"
                                        class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                </button>
                                <button type="button" id="btnAnunciosCampanhaExcluirAnuncio" name="btnAnunciosCampanhaExcluirAnuncio"
                                        class="btn btn-green" onclick=" excluirAnuncio(); ">
                                    <strong>Excluir Anúncio</strong>
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            }

            catch (Exception)
            {
                <br />
                <label style="color: #34495E; font-weight: normal; font-size: 20px">
                    Não existe anúncio nessa campanha
                </label>

                <div class="clearfix"></div>
                <div class="clearfix"></div>
            }
            </tbody>
        </table>
    </div>
</div>
