@using System.Web.UI.WebControls
@using Cliquemix.Models;
@using Microsoft.AspNet.Identity
@model Cliquemix.Models.tbCampanha

@{
    //ViewBag.Tudo = null;
    // Tudo = 1 [Disponível para novo anúncio]
    // Tudo = 2 [Campanha já contém um anúncio vinculado]
    // Tudo = 3 [Anúncio cadastrado com sucesso]
    // Tudo = 4 [Não existe anúncio para vincular]
}

<script>
    $(document).ready(function () {
        $('#btnRight').click(function (e) {
            var selectedOpts = $('#lstBox1 option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#lstBox2').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $('#btnLeft').click(function (e) {
            var selectedOpts = $('#lstBox2 option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#lstBox1').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
    });

    function atualizarAnuncios() {
        $.ajax(
        {
            type: 'GET',
            url: '/Campanha/AnunciosCampanha/?pCodCampanha=' + @ViewBag.ctid,
            dataType: 'html',
            cache: false,
            async: true,
            success: function(data) {
                $('#carregaAnuncios').html(data);
            }
        });
    }

    function VerificaData(digData, id)
    {
        var bis_to = 0;
        var data = digData;
        var tam = data.length;
        var ano_max = 2100;
        var ano_min = 1900;
        if (tam == 10) {
            var mes = data.substr(0, 2);
            var dia = data.substr(3, 2);
            var ano = data.substr(6, 4);
            document.getElementById(id).value = dia +"/"+ mes +"/"+ ano;
            if ((ano > ano_min)||(ano < ano_max))
            {
                switch (mes)
                {
                    case '01':
                    case '03':
                    case '05':
                    case '07':
                    case '08':
                    case '10':
                    case '12':
                        if  (dia <= 31)
                        {
                            return true;
                        }
                        break;

                    case '04':
                    case '06':
                    case '09':
                    case '11':
                        if  (dia <= 30)
                        {
                            return true;
                        }
                        break;
                    case '02':
                        /* Validando ano Bis---to / fevereiro / dia */
                        if ((ano % 4 == 0) || (ano % 100 == 0) || (ano % 400 == 0))
                        {
                            bis_to = 1;
                        }
                        if ((bis_to == 1) && (dia <= 29))
                        {
                            return true;
                        }
                        if ((bis_to != 1) && (dia <= 28))
                        {
                            return true;
                        }
                        break;
                }
            }
        }
        //alert("A Data "+data+" é inválida!");
        return false;
    }

    function AtualizaCodDestaque() {
        var obj = document.getElementById("did");
        alert(obj.options[obj.selectedIndex].value);
        //document.getElementById('tdid').value = obj.options[obj.selectedIndex].value;
        //$("input[id='tdid']").val(obj.options[obj.selectedIndex].value);
        //detalhesDestaque();
    };
    
    function detalhesDestaque() {
        $.ajax(
        {
            type: 'POST',
            url: '/Campanha/InfoDestaque/?pCodDestaque='+ $("input[id='tdid']").val(),
            dataType: 'html',
            cache: true,
            async: true,
            success: function(data) {
                //$('#detalhesCredito').html(data);
            }
        });
    }


    function AtualizaCodPcid() {
        var obj = document.getElementById("pcid");
        $("input[id='tpcid']").val(obj.options[obj.selectedIndex].value);
        //detalhesDestaque();
    };

    function novoAnuncio() {
        $.ajax(
        {
            type: 'GET',
            url: '/Campanha/NovoAnuncio/?pCodCampanha='+@ViewBag.ctid, //string txt, int pCodCampanha
            dataType: 'html',
            cache: true,
            async: true,
            success: function (data) {
                $('#conteudo').html(data);
            }
        });
    }
</script>


<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Criar Campanha</small>
                <input type="hidden" id="ctid" name="ctid" value="@ViewBag.ctid"/>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Campanha.cshtml")
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-default">
                <div class="portlet-body">
                    <ul id="userTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#profile-settings" data-toggle="tab">Cadastro de Campanha</a>
                        </li>
                    </ul>
                    <div id="userTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="profile-settings">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul id="userSettings" class="nav nav-pills nav-stacked">
                                        <li class="active">
                                            <a href="#infoBasico" data-toggle="tab" id="lnk1"><i class="fa fa-info-circle fa-fw"></i> Informações</a>
                                        </li>
                                        <li>
                                            <a href="#infoDestaque" data-toggle="tab" id="lnk2"><i class="fa fa-bookmark fa-fw"></i> Destaque</a>
                                        </li>
                                        <li>
                                            <a href="#infoAnun" data-toggle="tab" id="lnk3"><i class="fa fa-thumb-tack fa-fw"></i> Vincular Anúncios</a>
                                        </li>
                                        <li>
                                            <a href="#infoCli" data-toggle="tab" id="lnk4"><i class="fa fa-hand-o-down fa-fw"></i> Quantidade de Cliques</a>
                                        </li>
                                        <li>
                                            <a href="#infoGL" data-toggle="tab" id="lnk5"><i class="fa fa-globe fa-fw"></i> Geo Localização</a>
                                        </li>
                                    </ul>
                                </div>
                                @Html.ValidationSummary(true)
                                <div class="col-sm-9">
                                    <div id="userSettingsContent" class="tab-content">
                                        <div class="tab-pane fade in active" id="infoBasico">
                                            <h4 class="page-header">Informações da Campanha:</h4>
                                            <div class="form-group col-lg-6">
                                                <label>Título</label>
                                                @Html.TextBoxFor(model => model.tituloCampanha, new {@class="form-control", style="max-width: 334px"})
                                            </div>
                                            @Html.Hidden("ctid")
                                                                                        
                                            <div class="form-group col-lg-3">
                                                <label>Data de Início</label>
                                                <div id="sandbox-container">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default add-on " type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                        <input id="dtInicio" name="dtInicio" class="form-control datepicker" type="text" style="max-width: 100px;" onchange="VerificaData(this.value, this.id);" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-3">
                                                <label>Hora de Início</label>
                                                <div class="input-append bootstrap-timepicker input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default add-on" type="button">
                                                            <i class="fa fa-clock-o"></i>
                                                        </button>
                                                    </span>
                                                    <input id="hrInicio" name="hrInicio" class="form-control timepicker" type="text" style="max-width: 100px;" onchange="VerificaData(this.value, this.id);" />
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="form-group col-lg-6"></div>

                                            <div class="form-group col-lg-3">
                                                <label>Data de Término</label>
                                                <div id="sandbox-container">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default add-on " type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                        <input id="dtTermino" name="dtTermino" class="form-control datepicker" type="text" style="max-width: 100px;" onchange="VerificaData(this.value, this.id);" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-3">
                                                <label>Hora de Término</label>
                                                <div class="input-append bootstrap-timepicker input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default add-on" type="button">
                                                            <i class="fa fa-clock-o"></i>
                                                        </button>
                                                    </span>
                                                    <input id="hrTermino" name="hrTermino" class="form-control timepicker" type="text" style="max-width: 100px;" />
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                            
                                            <br/><br/>

                                            <div class="col-sm-offset-10 col-sm-1">
                                                <button type="button" onclick=" $('#lnk2').click(); " class="btn btn-default">Próximo</button>
                                            </div>
                                        </div>

                                        
                                        <div class="tab-pane fade" id="infoDestaque">
                                            <h4 class="page-header">Informações sobre o Destaque da Campanha</h4>

                                            <div class="col-lg-12">
                                                <div class="portlet portlet-default">
                                                    <div class="portlet-heading">
                                                        <div class="portlet-title">
                                                            <h4>Selecione o Destaque </h4>
                                                            @Html.DropDownList("did", null, string.Empty, new { style = "width:334px; height:34px", onchange = "AtualizaCodDestaque();" })
                                                            <br/><label> </label>
                                                        </div>
                                                        <div class="portlet-widgets">
                                                            <span class="divider"></span>
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#defaultPortlet"><i class="fa fa-chevron-down"></i></a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div id="defaultPortlet" class="panel-collapse collapse in">
                                                        <div class="portlet-body">
                                                            <label class="col-sm-7" style="font-weight: bold">Título</label>
                                                            <div class="clearfix"></div>
                                                            @Html.Label("tituloDestaque", new { @class = "col-sm-7", style = "font-weight: normal" })
                                                            <input type="text" id="tdid"/>
                                                            <div class="clearfix"></div>
                                                            <br />
                                                            <label class="col-sm-4" style="font-size: 12px; font-weight: bold;">Tempo de Espera</label>
                                                            <label class="col-sm-4" style="font-size: 12px; font-weight: bold;">Valor do Destaque</label>
                                                            <label class="col-sm-4" style="font-size: 12px; font-weight: bold;">Tempo de Duração</label>
                                                            <div class="clearfix"></div>
                                                            <label id="tmpEspera" class="col-sm-4" style="font-size: 12px; font-weight: normal"></label>
                                                            <label id="qtcredito" class="col-sm-4" style="font-size: 12px; font-weight: normal"><i class="fa fa-money"></i></label>
                                                            <label id="qtDuracao" class="col-sm-4" style="font-size: 12px; font-weight: normal"></label>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-footer">
                                                        <label style="font-size: 12px; font-weight: bold">Código do Destaque:   </label>
                                                        <label id="tdid" style="font-size: 12px; font-weight: normal"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group col-lg-offset-9">

                                                <button type="button" onclick=" $('#lnk1').click(); " class="btn btn-default">Anterior</button>
                                                <button type="button" onclick=" $('#lnk3').click(); " class="btn btn-default">Próximo</button>
                                            </div>
                                        </div>

                                        

                                        <div class="tab-pane fade in" id="infoAnun">
                                            <h4 class="page-header">Vincular Anúncio à Campanha:</h4>

                                            <div class="modal modal-flex fade" id="flexModal" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" style="min-width: 60%;">
                                                    <div class="modal-content" id="conteudo">
                                                        @{
                                                            Html.RenderPartial("NovoAnuncio");
                                                        }
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>

                                            <div class="row">
                                                <!-- Basic Responsive Table -->
                                                <div class="col-lg-12">
                                                    <div class="portlet portlet-default">
                                                        <div class="portlet-heading">
                                                            <div class="portlet-title">
                                                                <h4 class="flutuar">Anúncio da Campanha</h4>
                                                            </div>
                                                            <div class="portlet-widgets">
                                                                <a href="#" id="abrir" data-toggle="modal" data-target="#flexModal" data-placement="top" title="Novo Anúncio" onclick="novoAnuncio();">
                                                                    <i class="fa fa-plus-square"></i>
                                                                </a>
                                                                <span class="divider"></span>
                                                                <a href="javascript:;" data-placement="top" title="Atualizar" onclick="atualizarAnuncios();">
                                                                    <i class="fa fa-refresh"></i>
                                                                </a>
                                                                <span class="divider"></span>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div id="carregaAnuncios">
                                                            @{
                                                                Html.RenderPartial("AnunciosCampanha");
                                                            }
                                                            @* Lista os Anúncios da Campanha *@
                                                        </div>
                                                    </div>
                                                    <!-- /.portlet -->
                                                </div>

                                                <div class="form-group col-lg-offset-9">
                                                    <button type="button" onclick=" $('#lnk2').click(); " class="btn btn-default">Anterior</button>
                                                    <button type="button" onclick=" $('#lnk4').click(); " class="btn btn-default">Próximo</button>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="tab-pane fade" id="infoCli">
                                            <h4 class="page-header">Quantidades de cliques que o usuário poderá clicar por anúncio:</h4>
                                            <div class="form-group col-lg-6">
                                                @Html.Label("Selecione o Pacote")
                                                <div class="clearfix"></div>
                                                @Html.DropDownList("pcid", null, string.Empty, new { style = "width:300px; height:34px", onchange = "AtualizaCodPcid();" })
                                                @Html.Hidden("tpcid")
                                            </div>

                                            <div class="form-group col-lg-offset-6">

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group col-lg-offset-9">

                                                <button type="button" onclick=" $('#lnk3').click(); " class="btn btn-default">Anterior</button>
                                                <button type="button" onclick=" $('#lnk5').click(); " class="btn btn-default">Próximo</button>
                                            </div>
                                        </div>


                                        <div class="tab-pane fade in" id="infoGL">
                                            <h4 class="page-header">Aonde seus anúncios irão ser exibidos?</h4>

                                            <div class="form-group col-lg-6">
                                                @Html.Label("País")
                                                <div class="clearfix"></div>
                                                @Html.DropDownList("paid", null, string.Empty, new { style = "width:300px; height:34px" })
                                            </div>
                                            <div class="clearfix"></div>
                                            
                                            <div class="form-group col-lg-6">
                                                @Html.Label("Estado")
                                                <div class="clearfix"></div>
                                                @Html.DropDownList("eid", null, string.Empty, new { style = "width:300px; height:34px" })
                                            </div>
                                            <div class="clearfix"></div>

                                            <div class="form-group col-lg-6">
                                                @Html.Label("Cidade")
                                                <div class="clearfix"></div>
                                                @Html.DropDownList("cid", null, string.Empty, new { style = "width:300px; height:34px" })
                                            </div>
                                            <div class="clearfix"></div>
                                            
                                            <div class="form-group col-lg-12"></div>
                                            <div class="form-group col-lg-12"></div>
                                            <div class="form-group col-lg-12"></div>
                                            <div class="form-group col-lg-offset-9">
                                                <button type="button" onclick=" $('#lnk4').click(); " class="btn btn-default">Anterior</button>
                                                <button type="submit" class="btn btn-default" id="save" value="save">
                                                    <i class="fa fa-floppy-o"></i>
                                                    Salvar
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.portlet-body -->
            </div>
            <!-- /.portlet -->

        </div>
        <!-- /.col-lg-12 -->
    </div>
}