@model Cliquemix.Models.tbCampanha

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbCampanha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tituloCampanha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tituloCampanha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtTermino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtTermino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbCampanhaStatus.dsCampStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCampanhaStatus.dsCampStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbDestaque.tituloDestaque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbDestaque.tituloDestaque)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
