@model IEnumerable<Cliquemix.Models.tbDestaque>

@try
{
    foreach (var item in Model)
    {
        <label class="col-sm-7" style="font-weight: bold">Título</label>
        <div class="clearfix"></div>
        @Html.Label(item.tituloDestaque, new { @class = "col-sm-7", style = "font-weight: normal" })
        <div class="clearfix"></div>
        <br />
        <label class="col-sm-3" style="font-size: 12px; font-weight: bold;">Pacote de Cliques</label>
        <label class="col-sm-3" style="font-size: 12px; font-weight: bold;">Tempo de Espera</label>
        <label class="col-sm-3" style="font-size: 12px; font-weight: bold;">Valor do Destaque</label>
        <label class="col-sm-3" style="font-size: 12px; font-weight: bold;">Tempo de Duração</label>
        <div class="clearfix"></div>
        @Html.Label(item.tbPacoteClique.qtdeCliques + " Cliques", new { @class = "col-sm-3", style = "font-size: 12px; font-weight: normal" })
        @Html.Label(item.tmpEspera.ToString()+" Segundos", new {@class = "col-sm-3", style = "font-size: 12px; font-weight: normal"})
        <label id="qtCredito" for="qtCredito" class="col-sm-3" style="font-size: 12px; font-weight: normal"><i class="fa fa-money"></i> @item.qtCredito</label>
        @Html.Label(item.qtDuracao.ToString()+" "+item.tbDestaqueDuracao.item+"(s)", new {@class = "col-sm-3", style = "font-size: 12px; font-weight: normal"})
        <div class="clearfix"></div>
    }
}
catch (Exception)
{
    <br />
}