@using System.Web.UI.WebControls
@using Cliquemix.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Cliquemix.Models.tbAnuncio>

<script type="text/javascript">
    function atualizarDefinicao() {
        $.ajax(
        {
            type: 'POST',
            url: '/Campanha/NovoAnuncioCampanha/?taid='+ document.getElementById("taid").value +
                '&ctid='+document.getElementById("ctid").value,
            dataType: 'html',
            cache: false,
            async: true,
            success: function () {
                $('#btnFechar').click();
            }
        });
    }

    function VerificarAnuncio(item) {
        document.getElementById("taid").value = item.value;
    }

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="flexModalLabel">Adicionar Anúncio à Campanha</h4>        
        <div class="input-group col-lg-6" style="margin-top: 2%;">
            <input type="text" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-green" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <!-- Basic Responsive Table -->
            <div class="col-lg-12">
                <div class="portlet portlet-default">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4 class="flutuar">Lista de Anúncios</h4>
                        </div>
                        <div class="clearfix"></div>
                        <input type="hidden" name="taid" id="taid"/>
                        <input type="hidden" name="ctid" id="ctid" value="@ViewBag.ctid" />
                    </div>
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Título</th>
                                        <th class="text-center">Ramo</th>
                                        <th class="text-center">Video</th>
                                        <th class="text-center">Imagem</th>
                                        <th class="text-center">Data</th>
                                        <th class="text-center">Selecione</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @try
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td align=center style="width: 150px;">
                                                    @Html.DisplayTextFor(modelItem => item.tituloAnuncio)
                                                </td>
                                                <td align=center style="width: 180px;">
                                                    @Html.DisplayFor(modelItem => item.tbRamoAtividade.descricao)
                                                </td>
                                                <td align=center style="width: 60px;">
                                                    @if (item.videoAnuncio != string.Empty)
                                                    {
                                                        @Html.Label("Sim", new {style = "align-content: center"})
                                                    }
                                                    else
                                                    {
                                                        @Html.Label("Não")
                                                    }
                                                </td>
                                                <td align=center style="width: 60px;">
                                                    @if (item.tbAnuncioImagens.ToList().Count > 0)
                                                    {
                                                        @Html.Label("Sim")
                                                    }
                                                    else
                                                    {
                                                        @Html.Label("Não")
                                                    }
                                                </td>
                                                <td align=center style="width: 100px;">
                                                    @Html.DisplayFor(modelItem => item.dtCriacao)
                                                </td>
                                                <td align=center style="width: 50px;">
                                                    <input type="radio" name="optAnuncio" value="@item.aid" onchange=" VerificarAnuncio(this) " />
                                                </td>
                                            </tr>
                                        }
                                    }

                                    catch (Exception)
                                    {
                                        <label style="color: #34495E; font-weight: normal; font-size: 16px">
                                            Não existem anúncios disponíveis para essa campanha
                                        </label>
                                    }

                                    <thead class="rodape-tabela">
                                        <tr>
                                            <th class="text-center">Título</th>
                                            <th class="text-center">Ramo</th>
                                            <th class="text-center">Video</th>
                                            <th class="text-center">Imagem</th>
                                            <th class="text-center">Data</th>
                                            <th class="text-center">Selecione</th>
                                        </tr>
                                    </thead>
                                </tbody>
                            </table>
                        </div>
                    </div>                                    
                </div>
                <!-- /.portlet -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnFechar" name="btnFechar" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" id="btnAdicionar" name="btnAdicionar" class="btn btn-default" onclick="atualizarDefinicao();"><i class="fa fa-plus"></i> Adicionar</button>
    </div>
}