@model Cliquemix.Models.tbCampanha

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tbCampanha</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tituloCampanha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tituloCampanha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dtInicio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dtInicio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dtTermino)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dtTermino)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tbCampanhaStatus.dsCampStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tbCampanhaStatus.dsCampStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tbDestaque.tituloDestaque)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tbDestaque.tituloDestaque)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tbAnunciante.cnpj)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tbAnunciante.cnpj)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.cid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
