@model Cliquemix.Models.tbCampanha

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbCampanha</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.cid)

        <div class="form-group">
            @Html.LabelFor(model => model.tituloCampanha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tituloCampanha)
                @Html.ValidationMessageFor(model => model.tituloCampanha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dtInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dtInicio)
                @Html.ValidationMessageFor(model => model.dtInicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dtTermino, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dtTermino)
                @Html.ValidationMessageFor(model => model.dtTermino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.did, "did", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("did", String.Empty)
                @Html.ValidationMessageFor(model => model.did)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.csid, "csid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("csid", String.Empty)
                @Html.ValidationMessageFor(model => model.csid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pid, "pid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pid", String.Empty)
                @Html.ValidationMessageFor(model => model.pid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pcid, "pcid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pcid", String.Empty)
                @Html.ValidationMessageFor(model => model.pcid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ctid, "ctid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ctid", String.Empty)
                @Html.ValidationMessageFor(model => model.ctid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
